@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');

#landing-page-container {
  background: url('../images/stars.jpg') no-repeat center center fixed;
  webkit-background-size: cover;
  moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}